html, body { font-size: 100%; }
body
{
    font-family: sans-serif;
}

#canvas-main
{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1000;
    
    cursor: crosshair;
}

#sidebar
{
    position: absolute; 
    top: 0; left: 0; bottom: 0;
    z-index: 2000;
    display: flex;
    
    padding: 0.3em 0.45em;
    
    background: rgba(255, 255, 255, 0.3);
    border-top: 0.2em solid rgba(255, 255, 255, 0.3);
}

.fps
{
    top: 0.2em !important; right: 0.2em !important;
}
