html, body { font-size: 100%; }
body
{
    font-family: sans-serif;
}

#canvas-main
{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.fps
{
    top: 0.2em !important; right: 0.2em !important;
}
